[run]
branch = True
source = .

[report]
omit =
    */tests/*
    */migrations/*
    */admin.py
    */apps.py
    */wsgi.py
    */asgi.py
    */settings.py
    */urls.py
    */manage.py
    */auths/*
    */timetables/api/permissions.py
    .venv/*

[html]
directory = coverage-report